body {
    padding: 0;
    margin: 0;
    background-color: rgb(74, 70, 85);
    font-size: 2rem;
    color: #fff;
    font-family: sans-serif;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    margin: 20px;
}

table {
    max-width: 600px;
    font-size: 1.2rem;
}

td,
th {
    padding: 20px;
}

.datatable {
    display: flex;
    gap: 3em;
}
